---
interface Props {
    title: string;
    body: string;
    href: string;
    tags?: string[];
    bgImg: string;
}

const {href, title, body, tags = [], bgImg = '/assets/projects-placeholder.jpg'}: Props = Astro.props;
---

<div class="col">
    <div class="card card-cover h-100 overflow-hidden dark-mode-card rounded-4" id="projects-card-container">
        <div class="card-body d-flex flex-column">
            <p class="mb-4 card-title" set:html={title}></p>
            <p class="mb-4 card-text mb-auto" set:html={body}></p>
            <ul class="d-flex h-80 list-unstyled mt-3 justify-content-start align-items-center text-warning flex-wrap mb-3">
                {
                    tags.map(tag => (
                            <li class="d-flex align-items-center p-1 badge bg-secondary me-1 mb-2 text-truncate text-dark" role="button" style="max-width: 150px" title={tag}>
                                {tag}
                            </li>
                    ))
                }
            </ul>
            <a href={href} target="_blank" class="card-link btn text-warning">
                Check project
            </a>
        </div>
    </div>
</div>

<style>
    #projects-card-container {
        background: transparent !important;
        color: #f1f2f6 !important;
        border: 1px solid #f1f2f6!important;
    }

    .tags {
        font-size: 12px;
    }

    .card-header {
        width: 100%;
        max-height: 180px;
        min-height: 180px;
        margin-bottom: 8px;
        background: #f1f2f6;
        border-bottom: 3px solid #ff8900;
    }

    .card-img-top {
        width: 80%;
        max-height: 100%;
        min-width: 80%;
        min-height: 100%;
        height: auto;
        object-fit: contain;
    }

    .dark-mode-card {
        background-color: #242a37 !important;
        border-color: #FF8900 !important;
    }

    .dark-mode-card .card-title {
        color: #FF8900 !important;
    }

    .dark-mode-card .card-text {
        color: #f1f2f6 !important;
    }

    .dark-mode-card .btn-primary {
        background-color: #ffcc00 !important;
        color: #242a37 !important;
    }

</style>